*

# Experiment

!.gitignore
!LICENSE
!Pipfile
!Pipfile.lock
!README.md

!data
!data/processed
!data/processed/.gitkeep
!data/raw
!data/raw/beer_reviews.7z
!models
!models/**
!notebooks
!notebooks/deep-beer.ipynb
!src
!src/__init__.py
!src/data/__init__.py
!src/data/preprocess.py
!src/data/sets.py
!src/models/__init__.py
!src/models/null.py
!src/models/performance.py
!src/models/pytorch.py

# Deployment

!deployment
!deployment/.dockerignore
!deployment/Dockerfile
!deployment/heroku.yml
!deployment/main.py
!deployment/Pipfile
!deployment/Pipfile.lock
!deployment/README.md

!deployment/artefacts
!deployment/artefacts/**
!deployment/modules
!deployment/modules/**
