[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
category-encoders = "==2.2.*"
joblib = "==1.0.*"
jupyterlab = "==1.0.*"
numpy = "==1.20.*"
pandas = "==1.2.*"
scikit-learn = "==0.24.*"
torch = {file = "https://download.pytorch.org/whl/cu101/torch-1.8.0%2Bcu101-cp39-cp39-win_amd64.whl"}

[dev-packages]

[requires]
python_version = "3.9"
